
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Search:</mat-label>
    <input matInput type="text" formControlName="search">
  </mat-form-field>
</form>

<div *ngIf="form.get('search').errors?.minlength">
  Input too short!
</div>
<div *ngIf="form.get('search').errors?.pattern">
  Only letters allowed!
</div>
<div *ngIf="form.get('search').errors?.required && form.touched">
  Please enter a pokemon!
</div>


<!--<form [formGroup]="form">-->
  <!--<mat-form-field>-->
    <!--<mat-label>Imię</mat-label>-->
    <!--<input matInput type="text" formControlName="imie">-->
  <!--</mat-form-field>-->
  <!--<br>-->
  <!--<mat-form-field>-->
  <!--<mat-label>PESEL</mat-label>-->
  <!--<input matInput type="text" formControlName="pesel">-->
  <!--</mat-form-field>-->
<!--</form>-->


<mat-table [dataSource]="(filteredList$ | async)">


  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Number</mat-header-cell>
    <mat-cell *matCellDef="let pokemon"> {{ (list$ | async)?.indexOf(pokemon) + 1 }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let pokemon"> {{pokemon.name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

</mat-table>

<mat-spinner *ngIf="loader$ | async"></mat-spinner>

